{% extends "bootstrap/base.html" %}

<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        {% block title %}QFIN{% endblock %}

        {% block metas %}
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock metas %}

        {% block styles %}
        <!-- Favicon -->
        <link rel="shortcut icon" href="{{ 'images/favicon/favicon.ico'|static }}">
        <link rel="apple-touch-icon" sizes="57x57" href="{{ 'images/favicon/apple-touch-icon-57x57.png'|static }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ 'images/favicon/apple-touch-icon-72x72.png'|static }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ 'images/favicon/apple-touch-icon-76x76.png'|static }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ 'images/favicon/apple-touch-icon-114x114.png'|static }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ 'images/favicon/apple-touch-icon-120x120.png'|static }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ 'images/favicon/apple-touch-icon-144x144.png'|static }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ 'images/favicon/apple-touch-icon-152x152.png'|static }}">
        <meta name="msapplication-TileColor" content="#2b5797">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{ 'styles/vendor/bootstrap.min.css'|static }}">
        <!-- Fonts -->
        <style>
        @import url('//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=latin-ext');
        </style>
        <link rel="stylesheet" href="{{ 'fonts/et-lineicons/css/style.css'|static }}">
        <link rel="stylesheet" href="{{ 'fonts/linea-font/css/linea-font.css'|static }}">
        <link rel="stylesheet" href="{{ 'fonts/fontawesome/css/font-awesome.min.css'|static }}">
        <!-- Slider -->
        <link rel="stylesheet" href="{{ 'styles/vendor/slick.css'|static }}">
        <!-- Animate.css -->
        <link rel="stylesheet" href="{{ 'styles/vendor/animate.css'|static }}">

        <link rel="stylesheet" href="{{ 'styles/main.css'|static }}">
        <link rel="stylesheet" href="{{ 'styles/responsive.css'|static }}">
        <link rel="stylesheet" href="{{ 'styles/site.css'|static }}">
        {% endblock styles %}

        <!-- JS -->
        <script src="{{ 'js/vendor/modernizr-2.8.3.min.js'|static }}"></script>
    </head>

    <body id="page-top">

        <div class="preloader">
          <img src="{{ 'images/loader.svg'|static}}" alt="Loading...">
        </div>

        {% block navbar %}
        <nav class="navbar navbar-default navbar-fixed-top navbar-small">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

              <!-- Logo -->
              <a class="navbar-brand" href="{{ url_for('page.home') }}">QFIN CLUB</a>
            </div><!-- / .navbar-header -->

            <!-- Navbar Links -->
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="{{ url_for('page.shop') }}">Shop</a></li>
                <li><a href="{{ url_for('events.index') }}">Events</a></li>
                {% if current_user.is_authenticated() %}
                    {% if current_user.is_active()  %}
                        <li><a href="{{ url_for('jobs.index') }}">Jobs</a></li>
                        <li><a href="{{ url_for('members.index') }}">Members</a></li>
                    {% endif %}
                    {% if current_user.has_role('ROLE_ADMIN') %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" 
                                data-toggle="dropdown" 
                                data-hover="dropdown" 
                                data-delay="350" 
                                role="button" 
                                aria-haspopup="true" 
                                aria-expanded="false">Admin <span class="caret"></span></a>
                            <ul class="dropdown-menu bg-solid" role="menu">
                                <li><a href="{{ url_for('members.index') }}">User activation</a></li>
                                <li><a href="{{ url_for('events.new') }}">Add event</a></li>
                                <li><a href="{{ url_for('jobs.new') }}">Add job</a></li>
                                <li><a href="{{ url_for('admin.newsletters') }}">Send weekly newsletter</a></li>
                            </ul>
                        </li>
                    {% endif %}
                {% endif %}
              </ul><!-- / .nav .navbar-nav -->
              

              <!-- Navbar Links Right -->
              <ul class="nav navbar-nav navbar-right">
                {% block login %}
                    {% if current_user.is_anonymous() %}
                        <li>
                            <a href="{{ url_for('user.login') }}">Sign in</a>
                        </li>
                        <li>
                            <a href="{{ url_for('user.become_member') }}">Become a member</a>
                        </li>
                    {% elif current_user.is_authenticated() %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" 
                                data-toggle="dropdown" 
                                data-hover="dropdown" 
                                data-delay="350" 
                                role="button" 
                                aria-haspopup="true" 
                                aria-expanded="false">Welcome, {{ current_user.name }} <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ url_for('members.profile', user_id=current_user.id) }}">Profile</a></li>
                                <li><a href="{{ url_for('members.subscriptions') }}">Subscriptions</a></li>
                                <li class="divider"></li>
                                <li><a href="{{ url_for('user.logout') }}">Log out</a></li>
                            </ul>
                        </li>
                    {% endif %}
                {% endblock %}
                  
              </ul><!-- / .nav .navbar-nav .navbar-right -->

            </div><!--/.navbar-collapse -->
          </div><!-- / .container -->
        </nav><!-- / .navbar -->
        {% endblock navbar %}

        {% block content %}
            {% block main %}
                {% block page_content %}
                {% endblock %}
            {% endblock main %}

            {% block footer %}
                <footer class="footer-widgets">
                    <div class="container">
                        <div class="row section">

                        <!-- About Us -->
                        <div class="col-md-5 col-sm-6 mb-sm-100">
                            <div class="widget about-widget">
                                <h5 class="header-widget">About Us</h5>
                                <p>
                                    Quantitative Finance Club - Netzwerk der MasterstudentInnen des Quantitative Finance Programms der Wirtschaftsuniversität Wien
                                </p>
                                <p>
                                    ZVR-Zahl: 551066939
                                </p>
                            </div><!-- / .widget -->
                        </div><!-- / .col-md-6 -->

                        <div class="col-md-5 col-md-offset-2 col-sm-6 mb-sm-100">
                            <div class="widget about-widget">
                            <h5 class="header-widget">Contact Us</h5>

                            <p>
                                If you have any question, please contact us!
                            </p>

                            <ul class="social-links">
                                <li><a href="https://www.facebook.com/WUMasterQFin/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://at.linkedin.com/in/qfin-club-wu-548974103/de" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="mailto:qfinclub@wu.ac.at" target="_top"><i class="fa fa-envelope"></i></a></li>
                            </ul>
                            </div><!-- / .widget -->
                        </div><!-- / .col-md-6 -->

                        </div><!-- / .row -->
                    </div><!-- / .container -->


                    <!-- Copyright -->
                    <div class="copyright">
                        <div class="container">
                        <div class="row">
                            
                            <div class="col-sm-6">
                            <small>© 2017 Quantitative Finance Club </small>
                            </div>

                            <div class="col-sm-6">
                            <small><a href="#page-top" class="pull-right to-the-top">To the top<i class="fa fa-angle-up"></i></a></small>
                            </div>

                        </div><!-- / .row -->
                        </div><!-- / .container -->
                    </div><!-- / .copyright -->

                    </footer>
            {% endblock footer %}
        {% endblock content %}

        {% block scripts %}

        {% if not config.DEBUG %}
        <script type="text/javascript">
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', '{{ config.GOOGLE_ANALYTICS }}', 'auto');
            ga('send', 'pageview');

            {% if current_user.is_authenticated() %}
                ga('set', '&uid', {{ current_user.id }}); // Set the user ID using signed-in user_id.
            {% endif %}
        </script>
        {% endif %}

        <script src="{{ 'js/vendor/jquery-2.1.4.min.js'|static }}"></script>
        <script src="{{ 'js/vendor/jquery.easing.js'|static }}"></script>
        <script src="{{ 'js/vendor/bootstrap.min.js'|static }}"></script>
        <script src="{{ 'js/vendor/bootstrap-hover-dropdown.min.js'|static }}"></script>
        <script src="{{ 'js/vendor/smoothscroll.js'|static }}"></script>
        <script src="{{ 'js/vendor/jquery.localScroll.min.js'|static }}"></script>
        <script src="{{ 'js/vendor/jquery.scrollTo.min.js'|static }}"></script>
        <script src="{{ 'js/vendor/jquery.stellar.min.js'|static }}"></script>
        <script src="{{ 'js/vendor/jquery.parallax.js'|static }}"></script>
        <script src="{{ 'js/vendor/slick.min.js'|static }}"></script>
        <script src="{{ 'js/vendor/isotope.min.js'|static }}"></script>
        <script src="{{ 'js/vendor/wow.min.js'|static }}"></script>
        <script src="{{ 'js/main.js'|static }}"></script>
        {% endblock scripts %}

    </body>
    
</html>