{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "helpers/form_field_datepicker.html" import form_field_datepicker %}

{% block title -%}
    New - Events - {{ super() }}
{%- endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ 'css/bootstrap-datetimepicker.css'|static }}">
{% endblock styles %}

{% block page_content %}
<div class="page-header">
    <h1>Create Event</h1>
</div>

<div class="row">
    <div class="col-md-offset-1 col-md-10">

        <form class="form" method="POST">
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.title) }}
            {{ wtf.form_field(form.description, rows=5) }}
            {{ wtf.form_field(form.location) }}

            <div class="row">
                <div class="col-sm-6">
                    {{ form_field_datepicker(form.start_date, button_map={'id':'datetimepicker', 'class':'input-group date'}) }}
                </div>
                <div class="col-sm-6">
                    {{ form_field_datepicker(form.end_date) }}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    {{ wtf.form_field(form.open_for) }}
                </div>
                <div class="col-sm-6">
                    {{ wtf.form_field(form.visibility) }}
                </div>
            </div>

            <p><em>Note</em>: An event can be open only for members, but anyway publicly visible to everyone.</p>

            {{ wtf.form_field(form.submit, button_map={'submit':'primary btn-lg'}) }}
        </form>

    </div>
</div>
{% endblock page_content %}



{% block scripts %}
    {{ super() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
    <script type="text/javascript" src="{{ 'js/bootstrap-datetimepicker.js'|static }}"></script>
    <script type="text/javascript">
        $(function () {
            $('.datetimepicker').datetimepicker({
                format: 'YYYY-MM-DD HH:mm'
            });
        });
    </script>
{% endblock scripts %}