{% extends "base.html" %}

{% block title -%}
    {{ code }} {{ title }} - {{ super() }}
{%- endblock %}

{% block main %}
<div class="wrapper-404">
    <div class="content-wrapper">

        <div class="lead-wrapper">
            <h1 class="lead-404">{{ code }}</h1>
        </div>

        <div class="info-wrapper">
            <p class="info-404">
                <strong>{{ title }}</strong><br />
                {{ message|safe }}.
            </p>
        </div>

    </div>
</div><!-- / .wrapper-404 -->
{% endblock %}