.section-small {
    padding-top: 50px;
    padding-bottom: 50px;
}

.list-style-none {
    list-style-type: none;
    padding: 0;
}

.main-demo-hero {
    background-image: url('../images/landing-image.jpg');
    background-position-x: 50%;
    background-position-y: 50%;
}

.main-demo-hero .bg-overlay {
    background: rgba(236, 236, 236, 0.4);
}
.number-counters {
    background-image: none;
}

@media (max-width: 420px) {
    .main-demo-hero .hero-content-wrapper .hero-content .hero-lead {
        font-size: 2em;
    }
    .main-demo-hero .hero-content-wrapper .hero-content .btn {
        font-size: 0.6em;
        padding: 4px 15px;
    }
}
@media (max-width: 320px) {
    .main-demo-hero .hero-content-wrapper .hero-content .hero-lead {
        font-size: 1.5em;
    }
    .main-demo-hero .hero-content-wrapper .hero-content .btn {
        font-size: 0.6em;
        padding: 4px 15px;
    }
}

.navbar .navbar-header .navbar-brand {
    padding: 20px 0;
}
.navbar-small .navbar-header .navbar-brand {
    padding: 15px 0;
}

.btn-link {
	transition: all .5s;
    display: inline;
    padding:0px;
    margin:0px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    font-weight: 300;
}
.btn-link:hover {
    text-decoration: none;
}

p > .btn-link {
	border-bottom: 1px solid rgba(44,170,223, 0);
    color: #1c8cbc;
}

p > .btn-link:visited {
    color: darken(#1c8cbc, 10%);
    text-decoration: none;

    
}
p > .btn-link:visited:hover,
p > .btn-link:visited:focus {
    color: #1c8cbc;
    text-decoration: none;
}

p > .btn-link:hover,
p > .btn-link:focus {
    color: darken(#1c8cbc, 10%);
    text-decoration: none;
    border-bottom: 1px solid rgba(44,170,223, 1);
}