{% extends "base.html" %}

{% block styles %}
    {{ super() }}

    <style>
        body {
            position: relative;
        }
        .navigation.navbar {
            background: transparent;
        }

        .navigation.navbar-default .navbar-nav > li > a, .navigation.navbar-default .navbar-brand {
            color: #fff;
        }
    </style>
{% endblock styles %}

{% block body_attribs %} class="intro"{% endblock body_attribs %}

{% block main %}

    <section id="intro" class="colored text-center">
        <div class="container">
            <div class="intro-well wow">
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <p class="text-center">
                          <h1>Quantitative Finance Club<h1>
                        </p>
                        {% if current_user.is_authenticated() %}
                        <p class="text-center">
                          <a href="{{ url_for('members.index') }}" class="btn btn-success btn-lg">
                          See members</a>
                        </p>
                        {% else %}
                        <p class="text-center">
                          <a class="btn btn-success btn-lg btn-register" href="{{ url_for('user.become_member') }}">Become a member</a>
                        </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div id="subpage-nav" class="subpage-nav">
        <nav class="navbar">
            <ul class="nav navbar-nav">
                <li><a href="#what-is-zqfa">What is ZQFA?<span class="sr-only">(current)</span></a></li>
                <li><a href="#we-offer">What do we offer?</a></li>
                <li><a href="#who-can-join">Who can join?</a></li>
                <li><a href="#about-the-program">About the Program</a></li>
                <li><a href="#our-mission">Our Mission</a></li>
            </ul>
        </nav>
    </div>

    <section id="what-is-zqfa">
        <div class="container">
            <h2 class="text-center">What is ZQFA?</h2>
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <p>Zurich Quantitative Finance Alumni (ZQFA) is a club for alumni and current students of the joint specialized masters degree MSc UZH ETH in Quantitative Finance at the University of Zurich and ETH Zurich. The club provides a platform for knowledge exchange and networking opportunities between students, alumni and the financial world. It is our aim  to further strengthen the reputation and impact of the program in academia and the financial industry.</p>

                    <p>We believe that three factors make this program stand out globally:</p>
                    <ul>
                        <li>The union of two world-leading institutions: the Institute of Banking and Finance, University of Zurich and the Department of Mathematics, ETH Zurich.</li>
                        <li>A rigorous application process to select the brightest and most talented students.</li>
                        <li>The residence in one of the world's leading financial centers.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


    <section id="we-offer">
        <div class="container">
            <h2 class="text-center">What do we offer?</h2>
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <p>The main purpose of the club is to provide a platform for knowledge exchange and networking between students, alumni and members of the financial industry and academia. For our members we offer:</p>
                    <ul>
                        <li>Regular casual meetings of students and alumni in Zurich.</li>
                        <li>Invited talks by industry experts and academic researchers on current topics within the quantitative finance community.</li>
                        <li>A database of all ZQFA members including contact information and current employment information.</li>
                        <li>A job board where companies and alumni can publish job postings exclusively to members of ZQFA.</li>
                    </ul>

                    <p>For new students ZQFA organizes the Welcome Day in the fall of each year. This allows the new cohort of students to benefit from the experiences and lessons learned by their predecessors and to connect with our network from the very beginning.</p>

                    <p>For the local and global financial industry we offer:</p>
                    <ul>
                        <li>An efficient way to promote job postings exclusively to the elite pool of our students and alumni. We welcome all level of job vacancies: internship positions, master thesis projects, entry level jobs as well as senior and specialist roles.</li>
                        <li>The possibility to become an industry partner of Zurich Quantitative Finance Alumni at an attractive rate.  This is a unique opportunity to get in touch with some of the most talented students in the field of quantitative finance.</li>
                        <li>The chance to promote your company by publicly being associated with the talent pool of the MSc UZH ETH in Quantitative Finance.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="who-can-join">
        <div class="container">
            <h2 class="text-center">Who can join ZQFA?</h2>
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <p>As the alumni club of the MSc UZH ETH in Quantitative Finance we are open to all current and former students of the program, as well as of its predecessor the Master of Advanced Studies in Finance. Upon decision of the board, the club can give membership to high profile individuals of the academic sciences or the financial industry.</p>
                </div>
            </div>
        </div>
    </section>


    <section id="about-the-program">
        <div class="container">
            <h2 class="text-center">About the Program</h2>
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <p>The MSc UZH ETH in Quantitative Finance is a specialized joint master degree program offered by the <a href="http://www.uzh.ch">University of Zurich (UZH)</a> and the <a href="http://www.ethz.ch">Swiss Federal Institute of Technology Zurich (ETH Zurich)</a>. The program presents an advanced education in the field of quantitative finance. It is an academically rigorous and demanding course with a clear mathematical orientation. With its excellent faculty, the challenging curriculum and a strict selection process the MSc UZH ETH in Quantitative Finance is a world-class degree. For more information see the <a href="{{ url_for('page.qf') }}">"MSc UZH ETH QF"</a> section or the <a href="http://www.msfinance.ch">official program website</a>.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="our-mission">
        <div class="container">
            <h2 class="text-center">Our Mission</h2>
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <p>Every year the master program in Quantitative Finance brings a group of 25-30 brilliant students to Zurich. Due to the size and structure of the program the students within one year of study are already well connected. We aim to leverage this potential by building a bridge between all classes of current and previous years.</p>
                    <p>Bringing together the knowledge and experience of more than a decade of quantitative finance alumni will create value for our current students, as well as for our alumni and the program as a whole. The club will enhance the study experience of our students and reinforce their identification with the program by providing a platform for lifelong networking.</p>
                    <p>The club is determined to strengthen the brand name MSc UZH ETH in Quantitative Finance in the financial and academic world, both locally and around the globe. Through the exchange of knowledge, networking and job postings we want to further develop the reputation and impact of the program in academia and the financial industry.</p>
                    <p>The club should act in the interest of the students and work closely with the program directors. Another goal is to constantly improve the program to ensure its high level of recognition worldwide.</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        $('#subpage-nav').affix({
          top:0,
          offset: {
            top: $('#intro').outerHeight()
          }
        });
        console.log($('#intro').height()-$('#subpage-nav').height());

        $('body').scrollspy({ target: '#subpage-nav' })
    </script>
{% endblock scripts %}
