{% extends "base.html" %}

{% block main %}

<div id="home" class="main-demo-hero">
    <div class="bg-overlay">
                    
    <!-- Hero Content -->
    <div class="hero-content-wrapper">
        <div class="hero-content">
        
        <h1 class="hero-lead wow fadeInLeft" data-wow-duration="1.5s">Quantitative Finance Club</h1>
        <br>
        <a href="{{ url_for('user.become_member') }}" class="btn wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">Become a member</a>

        </div>
    </div>

    </div><!-- / .bg-overlay -->
</div><!-- / .main-hero-2 -->

<section id="welcome" class="container">
    <div class="row">

    <div class="ws-l"></div>
    
    <header class="sec-heading">
        <h2>Welcome to QFin Club</h2>
        <span class="subheading">Who we are and what we do</span>
    </header>

    <div class="col-md-offset-2 col-md-8 text-center ws-m">
        <p>
            The Quantitative Finance Club (QFin Club for short) is a 
            club for alumni and current students of the Master program 
            Quantitative Finance of Vienna University of Economics and Business. 
            The club provides a platform for knowledge exchange and networking 
            opportunities between students, alumni and the financial world. 
            It is our aim to further strengthen the reputation and impact of 
            the program in academia and the financial industry.
        </p>
    </div>

    </div><!-- / .row -->
</section>

<section class="container section ft-x">
    <div class="row">
    
    <header class="sec-heading">
        <h2>WHat do we offer?</h2>
        <span class="subheading">Knowledge exchange and networking</span>
    </header>

    <!-- Feature 1 -->
    <div class="col-lg-4 col-lg-offset-2 wow fadeInLeft" data-wow-duration=".8s">
        
        <!-- white space -->
        <div class="ws-m"></div>

        <!-- Material right aligned - Item 1 -->
        <div class="col-md-12 no-gap ws-s ft-item ft-material right-align">
        <div class="ft-content">
            <h5>Casual meetups</h5>
            <p>We organize regular casual meetings with current students and alumni in Vienna</p>
        </div>
        <div class="ft-icon">
            <i class="fa fa-hand-peace-o"></i>
        </div>
        </div><!-- / .ft-item -->

        <!-- Material right aligned - Item 2 -->
        <div class="col-md-12 no-gap ws-s ft-item ft-material right-align">
        <div class="ft-content">
            <h5>Access to Alumni network</h5>
            <p>We maintain a database of all QFin members including contact information and current employment</p>
        </div>
        <div class="ft-icon">
            <i class="fa fa-tv"></i>
        </div>
        </div><!-- / .ft-item -->

    </div><!-- / .col-lg-4 -->      

    <!-- Features Left -->
    <div class="col-lg-4 wow fadeInRight" data-wow-duration=".8s">
        
        <!-- white space -->
        <div class="ws-m"></div>
        
        <!-- Item 3 -->
        <div class="col-md-12 no-gap ws-s ft-item ft-material">
        <i class="fa fa-cogs"></i>
        <h5>Job board</h5>
        <p>Exclusive job postings for our students by our alumni and partner companies</p>
        </div><!-- / .ft-item -->

        <!-- Item 4 -->
        <div class="col-md-12 no-gap ws-s ft-item ft-material">
        <i class="fa fa-star"></i>
        <h5>Talks by industry experts</h5>
        <p>Invited talks by industry experts and academic researchers on current topics within the quantitative finance community</p>
        </div><!-- / .ft-item -->

    </div><!-- / .col-lg-4 -->

    </div><!-- / .row -->
</section>

<section class="container">
    <div class="row">

    <div class="ws-l"></div>
    
    <header class="sec-heading">
        <h2>Who can join?</h2>
        <span class="subheading">Become a QFin Club Member</span>
    </header>

    <div class="col-md-offset-2 col-md-8 text-center ws-m">
        <p>
            As the alumni club of the MSc Quantitative Finance we 
            are open to all current and former students of the program, 
            as well as to the students of its predecessor and the VGSF PhD 
            students Upon decision of the board, the club can give membership 
            to high profile individuals of the academic sciences or the financial industry.
        </p>
    </div>

    </div><!-- / .row -->
</section>

<div class="cta-link">
    <div class="bg-overlay">
    
    <div class="cta-wrapper">
        <h3 class="h-alt wow fadeIn" 
            data-wow-delay=".1s" 
            data-wow-duration="1s">Become a Qfin Club member</h3>
        <a href="{{ url_for('user.become_member') }}" 
            class="btn btn-light btn-large wow fadeIn" 
            data-wow-delay=".3s" 
            data-wow-duration="1s">Sign up</a>
    </div>

    </div>
</div>

<section class="container ft-steps-numbers">
    <div class="row section">

        <header class="sec-heading ws-s">
        <h2>About the Program</h2>
        <span class="subheading">3 factors make it stand out</span>
        </header>
        
        <!-- Step 1 -->
        <div class="col-lg-4 col-md-6 mb-sm-100 ft-item wow fadeIn" 
            data-wow-duration="1s">
        <span class="ft-nbr">01</span>
        <h4>Content</h4>
        <p>
            A strong focus on advanced mathematical theory to understand 
            and programming skills to actually implement sophisticated financial models.
        </p>
        </div>

        <!-- Step 2 -->
        <div class="col-lg-4 col-md-6 mb-sm-100 ft-item wow fadeIn" 
            data-wow-duration="1s" 
            data-wow-delay=".3s">
        <span class="ft-nbr">02</span>
        <h4>Faculty</h4>
        <p>
            World-class faculty such as Prof. Kurt Hornik, 
            a member of the R core developer team, such as Prof. Kurt Hornik, 
            member of the R-core developer team, Prof. Frey, co-author of 
            "Quantitative Risk Management: Concepts, Techniques and Tools" and many more
        </p>
        </div>

        <!-- Step 3 -->
        <div class="col-lg-4 col-md-6 ft-item wow fadeIn" 
            data-wow-duration="1s" 
            data-wow-delay=".6s">
        <span class="ft-nbr">03</span>
        <h4>Students</h4>
        <p>
            A rigorous application process and excellent job opportunities 
            both in the industry and in academia  guarantee that you will meet 
            incredibly talented and bright students
        </p>
        </div>

    </div><!-- / .row -->

</section>

<div class="number-counters">
    <div class="container">
    <div class="row count-wrapper">
        
        <!-- Item 1 -->
        <div class="col-md-3 mb-sm-100 count-item wow fadeIn" data-wow-duration="1s" data-wow-delay=".3s">
        <span class="count-nbr">10</span>
        <span class="count-text">Electives</span>
        </div>

        <!-- Item 2 -->
        <div class="col-md-3 mb-sm-100 count-item wow fadeIn" data-wow-duration="1s">
        <span class="count-nbr">2</span>
        <span class="count-text">Tracks - science & industry</span>
        </div>

        <!-- Item 3 -->
        <div class="col-md-3 mb-sm-100 count-item wow fadeIn" data-wow-duration="1s">
        <span class="count-nbr">80%</span>
        <span class="count-text">International students</span>
        </div>

        <!-- Item 4 -->
        <div class="col-md-3 count-item wow fadeIn" data-wow-duration="1s" data-wow-delay=".3s">
        <span class="count-nbr">60</span>
        <span class="count-text">Places maximum p.a.</span>
        </div>

    </div><!-- / .row -->
    </div><!-- / .container -->
</div><!-- / .number-counters -->

<div class="testimonials-parallax">
    <div class="bg-overlay">
    
    <div class="t-wrapper t-slider">

        <!-- Testimonial 1 -->
        <blockquote>
        “The OeNB also promotes knowledge and understanding among the general 
        public and decision makers and supports research in Austria. 
        Collaborations with universities - such as the one with the 
        Master in Quantitative Finance and WU - are intensive and productive 
        and an excellent contribution to mastering our challenges.”
        <span class="et-quote t-type"></span>
        <footer>
            <cite>
            <h5 class="h-alt">Gerhard Winkler</h5>
            <h5>Deputy Head of Credit Division, Oesterreichische Nationalbank</h5>
            </cite>
        </footer>
        </blockquote>

        <!-- Testimonial 2 -->
        <blockquote>
        “As a leading Austrian banking group that is active at the international 
        level Raiffeisen needs employees who can develop and apply quantitative 
        methods and models and whose knowledge in the fields of credit and market 
        risk management make them well-equipped for any potential future financial crises."
        <span class="et-quote t-type"></span>
        <footer>
            <cite>
            <h5 class="h-alt">Hannes Mösenbacher</h5>
            <h5>Head of Risk Control, Raiffeisen Zentralbank Österreich AG</h5>
            </cite>
        </footer>
        </blockquote>

    </div><!-- / .t-wrapper -->
    
    </div><!-- / .bg-overlay -->
</div><!-- / .testimonials-parallax -->

{% endblock %}