{% extends "base.html" %}

{% block title -%}
    Shop - {{ super() }}
{%- endblock %}

{% block page_content %}

<header class="page-title">
  <div class="container">
    <div class="row">
      <h1 class="col-sm-6">Shop</h1>
      <ol class="col-sm-6 text-right breadcrumb">
        <li><a href="{{ url_for('page.home') }}">Home</a></li>
        <li class="active">Shop</li>
      </ol>
    </div>
  </div>
</header>

<section class="container">
    <div class="row section-small">
        <div class="col-md-12">
			<div id="myShop"></div>
        </div>
    </div>
</section>

<script>
	var spread_shop_config = {
		shopName: 'qfin',
		locale: 'de_AT',
		prefix: '//shop.spreadshirt.at',
		baseId: 'myShop'
	};
</script>

<script type="text/javascript" src="//shop.spreadshirt.at/shopfiles/shopclient/shopclient.nocache.js"></script>

{% endblock page_content %}