{% extends "base.html" %}

{% block title -%}
    Success - {{ super() }}
{%- endblock %}

{% block page_content %}
<header class="page-title">
  <div class="container">
    <div class="row">
      <h1 class="col-sm-6">Thank you!</h1>
      <ol class="col-sm-6 text-right breadcrumb">
        <li><a href="{{ url_for('page.home') }}">Home</a></li>
      </ol>
    </div>
  </div>
</header>

<section class="container">
  <div class="row section-small">

    <div class="col-md-12">

        <p>Your application was successful. Please be patient, while we 
            review it.</p>

        <p>An email has been sent to us and we will manually verify 
            your application and your association to the MSc 
            Quantitative Finance program. You will be automatically 
            informed as soon as your membership application is accepted.</p>

        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

    </div>
  </div>
</section>
{% endblock page_content %}