{% extends "base.html" %}


{% block title -%}
    Terms of Use - {{ super() }}
{%- endblock %}

{% block page_content %}
<header class="page-title">
  <div class="container">
    <div class="row">
      <h1 class="col-sm-6">Terms of Use</h1>
      <ol class="col-sm-6 text-right breadcrumb">
        <li><a href="{{ url_for('page.home') }}">Home</a></li>
        <li class="active">Terms of Use</li>
      </ol>
    </div>
  </div>
</header>

<section class="container">
  <div class="row section-small">

    <div class="col-md-12">

        <p>By using our website "QFin Club" you agree with our data privacy and the following terms of use.</p>
        <p>QFin Club reserves the right to change or stop all services offered.</p>


        <h2>Access to Your Account</h2>
        <p>You agree with solely using your Linkedin account to log-in. It is prohibited to log-in via e-mail accounts of third parties or to misuse those accounts.</p>
        <p>Additionally, you agree keeping your account secret, in safe custody and will not allow others to use your account.</p>
        <p>In case of breaking the terms of use we are authorized to delete your account.</p>

        <h2>Contact by Quantitative Finance Club</h2>
        <p>You agree to receive information by the Quantitative Finance Club about events or other information in connection with the QFin</p>


        <h2>Handling contents provided by web services</h2>
        <p>It is prohibited to misuse – especially for sending spam mail - information which are accessible on this web page (especially e-mail addresses or telephone numbers).</p>
        <p>Furthermore, it is prohibited to copy or distribute information and contents of this website in any possible way.</p>


        <h2>Indemnification</h2>
        <p>You agree to exempt us from claims of indemnity, damages or costs and to take those over which are asserted by third parties or which arise because you did not follow the terms of use.</p>
        <p>This especially contains forwarding contents of this website which infringe upon rights of third parties or which infringe other effective rights.</p>


        <h2>Disclosure of information</h2>
        <p>You are aware that we may be obliged to forward your user information to e.g. law enforcement agencies. Herewith, you agree that we do this in such a case.</p>


        <h2>Contents of third parties</h2>
        <p>qfinclub.com may contain links to websites of third parties.</p>
        <p>All links of extern providers have been checked for their correctness at the moment of accepting them. However, we are not liable for contents availability of websites, which are accessible via hyperlinks. Only the provider referred to is to made liable for illegal, inaccurate or fragmentary contents and especially for those damages, which arise via contents of linked websites. Here, it does not matter whether the damage is of a direct, indirect or financial nature or if other damage exists arising out of data loss, down time or other reasons of different kinds.</p>


        <h2>Support</h2>
        <p>The support of the website is being supplied via e-mail. Please, send a request to <a href="mailto:ashishkalra.nitk@gmail.com">ashishkalra.nitk@gmail.com</a>.</p>


        <h2>Copyright</h2>
        <p>The copyright for all text based contents and the layout of this website shall be owned by QFin Club.</p>


        <h2>Disclaimer</h2>
        <p>All texts and links have been checked carefully and are being updated continuously. We care for the correctness and completeness of information on this website but do not take on responsibility, guarantees or liability for the information displayed on the website to be correct, complete or up-to-date.</p>
        <p>We reserve our right to change the information on this website at any time and without advance notice and do not take on responsibility to update available information.</p>


        <h2>Severability clause and place of jurisdiction</h2>
        <p>Should one of those clauses be defined as legally void or not implementable, the respective clause will then be exchanged by a regulation that comes closest to the one to be exchanged. The effectiveness of the other clauses in these terms of use are not being affected or limited by those changes.</p>
        <p>The place of jurisdiction is Vienna, Austria.</p>
        <p>Our current general terms of use are valid under <a href="mailto:qfinclub@wu.ac.at">qfinclub@wu.ac.at</a>.
        Please check the terms of use regularly. By continuous use of our services you agree to possible changes.</p>

        <p>Vienna, March 2016</p>

    </div>

  </div>
</section>
{% endblock page_content %}