{% extends "base.html" %}

{% block title -%}
    Jobs - {{ super() }}
{%- endblock %}

{% block page_content %}
<header class="page-title">
  <div class="container">
    <div class="row">
      <h1 class="col-sm-6">Jobs</h1>
      <ol class="col-sm-6 text-right breadcrumb">
        <li><a href="{{ url_for('page.home') }}">Home</a></li>
        <li class="active">Jobs</li>
      </ol>
    </div>
  </div>
</header>

<section class="container">
    <div class="row section-small">
        <div class="col-md-12">
            <p class="text-center">
                <a href="{{ url_for('jobs.new') }}" class="btn btn-large">Post a job</a>
            </p>
            <br />
            <p>
                <strong>Jobs exclusively for members of the QFin Club by other members 
                and industry partners are posted here.</strong>
            </p>
            
            {% if jobs or expired_jobs %}
            <table class="table table-light">
                <thead>
                    <tr>
                        <th width="20%">Company</th>
                        <th>Title</th>
                        <th width="1%" class="text-center" style="white-space: nowrap;">Posted on</th>
                    </tr>
                </thead>
                <tbody>
                    {% if jobs %}
                    {% for job in jobs %}
                        <tr>
                            <td>{{ job.company }}</td>
                            <td>
                                <a href="{{ url_for('jobs.show', job_hash=job.hash) }}">{{ job.title }}</a>
                            </td>
                            <td class="text-center">{{ job.created.strftime('%b %d') }}</td>
                        </tr>
                    {% endfor %}
                    {% endif %}

                    {% if expired_jobs %}
                    {% for job in expired_jobs %}
                        <tr class="active">
                            <td>{{ job.company }}</td>
                            <td>
                                <a href="{{ url_for('jobs.show', job_hash=job.hash) }}">{{ job.title }}</a>
                            </td>
                            <td class="text-center">{{ job.created.strftime('%b %d') }}</td>
                        </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
            {% endif %}

            {% if expired_user_jobs %}
                <br />
                <h3>My Expired Jobs</h3>
                <table class="table table-light">
                    <thead>
                        <tr>
                            <th width="20%">Company</th>
                            <th>Title</th>
                            <th width="1%" class="text-center" style="white-space: nowrap;">Created date</th>
                            <th width="1%" class="text-center" style="white-space: nowrap;">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for job in expired_user_jobs %}
                        <tr>
                            <td>{{ job.company }}</td>
                            <td>
                                <a href="{{ url_for('jobs.show', job_hash=job.hash) }}">{{ job.title }}</a>
                            </td>
                            <td class="text-center">{{ job.created.strftime('%b %d') }}</td>
                            <td>
                                <a href="{{ url_for('jobs.repost', job_hash=job.hash) }}" class="btn btn-small">Repost</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
</section>

{% endblock page_content %}