{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "helpers/form_field_datepicker.html" import form_field_datepicker %}

{% block title -%}
    New - Jobs - {{ super() }}
{%- endblock %}

{% block page_content %}
<div class="page-header">
    {% if job %}
        <h1>Edit Job</h1>
    {% else %}
        <h1>Create Job</h1>
    {% endif %}
</div>

<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <form class="form" method="POST">
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.title) }}
            {{ wtf.form_field(form.company) }}
            {{ wtf.form_field(form.description, rows=15) }}
            {{ wtf.form_field(form.location) }}
            {{ wtf.form_field(form.url, placeholder="http://") }}

            <div>
                <p>
                    <strong>Note</strong>: The post will be visible in the job section for 30 days unless you decide to remove it earlier. After these 30 days the job is still accessable over the link, but will no longer shown in the overview. You are free to reactivate the post for again 30 days.
                </p>
                <p>Further, the post will be sent to our members over our weekly newsletter.</p>
            </div>

            {{ wtf.form_field(form.submit, button_map={'submit':'primary btn-lg'}) }}
        </form>

    </div>
</div>
{% endblock page_content %}
