{% extends "base.html" %}
{% from "helpers/delete_form.html" import delete %}

{% block title -%}
    {{ job.title }} - Jobs - {{ super() }}
{%- endblock %}

{% block page_content %}

<header class="page-title">
  <div class="container">
    <div class="row">
      <h1 class="col-sm-6">
        {{ job.title }} <br />
        <small>Posted on {{ job.created.strftime('%b %d') }}</small>
      </h1>
      <ol class="col-sm-6 text-right breadcrumb">
        <li><a href="{{ url_for('page.home') }}">Home</a></li>
        <li><a href="{{ url_for('jobs.index') }}">Jobs</a></li>
        <li class="active">{{ job.title }}</li>
      </ol>
    </div>
  </div>
</header>

{% if current_user.has_role('ROLE_ADMIN') or current_user.id == job.user_id %}
{% set container_class = 'col-md-8' %}
{% else %}
{% set container_class = 'col-md-12' %}
{% endif %}

<section class="container">
    <div class="row section-small">
        <div class="{{ container_class }}">
            {% if job.company %}
            <p>
                <strong>
                    <span class="sr-only">Company:</span>
                    <span class="fa fa-building-o"></span>
                    {{ job.company }}
                </strong>
            </p>
            {% endif %}

            {% if job.location %}
            <p>
                <span class="sr-only">Location:</span>
                <span class="fa fa-location-arrow"></span>
                {{ job.location }}
            </p>
            {% endif %}

            {% if job.url %}
            <p>
                <span class="sr-only">More information:</span>
                <span class="fa fa-globe"></span>
                <a href="{{ job.url }}">{{ job.nice_url }}</a>
            </p>
            {% endif %}

            <div style="padding: 20px 0;">
                {{ job.description_html|safe }}
            </div>

        </div>

        {% if current_user.has_role('ROLE_ADMIN') or current_user.id == job.user_id %}
        <div class="col-md-4 text-right">
            <h6>Actions</h6>
            <p>
                <a href="{{ url_for('jobs.edit', job_hash=job.hash) }}">Edit</a>
            </p>
            {{ delete(url_for('jobs.delete', job_hash=job.hash)) }}
        </div>
        {% endif %}
    </div>
</section>

<section class="container">
    <div class="row section-small" style="padding-top:0;">
        <div class="col-md-12">
            <hr>
            <p>When applying, please mention that you saw this job on the QFC website.</p>
            <p>
                The job was posted by: 
                <a href="{{ url_for('members.profile', user_id=job.user_id) }}">{{  job.user.name }}</a>.
            </p>
        </div>
    </div>
</section>

{% endblock page_content %}
