{% extends "base.html" %}
{% from "helpers/delete_form.html" import delete %}

{% block title -%}
    Members - {{ super() }}
{%- endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
<script>
$(function() {

    $('table#activated-members').dataTable({
        "pagingType": "simple_numbers",
        "order": [[1, "asc" ]],
        "lengthMenu": [[10, 20, 50, -1], [10, 20, 50, "All"]],
        "columnDefs": [
            { 
                targets: [5, 6],
                orderable: false
            }
        ],
        "language": {
            "paginate": {
                "previous": '<i class="fa fa-angle-left" aria-hidden="true"></i>',
                "next": '<i class="fa fa-angle-right" aria-hidden="true"></i>'
            }
        }
    });

});
</script>
{% endblock %}}

{% block styles %}

    {{ super() }}
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css"/>

    <style>
        .members tr > *:nth-child(1) {
            white-space:nowrap;
        }
        .members th {
            white-space:nowrap;
        }
        .paginate_button {
            text-align: center;
        }
        #activated-members_filter {
            text-align: right;
        }
        table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
            bottom: 15px;
        }

    </style>
{% endblock styles %}

{% block page_content %}
<header class="page-title">
  <div class="container">
    <div class="row">
      <h1 class="col-sm-6">Members</h1>
      <ol class="col-sm-6 text-right breadcrumb">
        <li><a href="{{ url_for('page.home') }}">Home</a></li>
        <li class="active">Members</li>
      </ol>
    </div>
  </div>
</header>

<section class="container">
    <div class="row section-small">
        <div class="col-md-12">
            
            {% if current_user.has_role('ROLE_ADMIN') and not_active %}
                <h3>Not activated users</h3>
                <table id="new-members" class="table members table-striped table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Class of</th>
                        <th>Last Login</th>
                        <th>Registered</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in not_active %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>
                                <a href="{{ url_for('members.profile', user_id=user.id) }}">{{ user.name }}</a>
                                <a href="mailto:{{ user.email }}"><span class="fa-envelope-o fa"></span></a>
                            </td>
                            <td>{{ user.classof }}</td>
                            <td>{{ user.last_login.strftime('%Y-%m-%d %H:%M') }}</td>
                            <td>{{ user.registered.strftime('%Y-%m-%d %H:%M') }}</td>
                            <td>
                                <form method="post" action="{{ url_for('members.activate', user_id=user.id) }}">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                    <button class="btn btn-primary btn-small" type="submit">Activate</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <br />
            {% endif %}

            <table id="activated-members" class="table members table-striped table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Class of</th>
                    <th>Location</th>
                    <th>Industry</th>
                    <th>Company</th>
                    <th>Position</th>
                    {% if current_user.has_role('ROLE_ADMIN') %}
                    <th>Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for member in members %}
                    <tr>
                        <td>
                            <img src="{{ member.small_picture_url }}" width="60" height="60">
                            <a href="{{ url_for('members.profile', user_id=member.id) }}">{{ member.name }}</a>
                        </td>
                        <td>{{ member.classof }}</td>
                        <td>{{ member.location }}</td>
                        <td>{{ member.industry }}</td>
                        <td>{% for position in member.positions %}{% if position.is_current %}{{ position.company }}{% endif %}{% endfor %}</td>
                        <td>{% for position in member.positions %}{% if position.is_current %}{{ position.title }}{% endif %}{% endfor %}</td>
                        {% if current_user.has_role('ROLE_ADMIN') %}
                        <td>
                            <form method="post" action="{{ url_for('members.deactivate', user_id=member.id) }}">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                <p><button class="btn-link" type="submit">Deactivate</button></p>
                            </form>
                            {{ delete(url_for('members.delete', user_id=member.id)) }}
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
            </table>

        </div>
    </div>
</section>

{% endblock %}
