{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title -%}
    Registration - {{ super() }}
{%- endblock %}

{% block login %}
    <p class="navbar-text navbar-registering">Currently registering</p>
{% endblock %}


{% block page_content %}

    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <div class="page-header">
                <h1>Become a member</h1>
            </div>

            <p>Our member profit in the following way of beeing a member of the QFC:</p>
            <ul>
                <li>Staying in contact with your fellow students</li>
                <li>Possibility of participation in interesting events in Vienna</li>
                <li>Being part of regular events</li>
                <li>Having access to our member database</li>
            </ul>

            <h3>Why we use Linkedin for registration</h3>
            <p>Linkedin is free to use.</p>
            <p>In order to provide you with the most up to date information and to not lose touch because of changing email addresses we use Linkedin as the only way to become a member and keep track of you.</p>
            <p>Therefore, if you don't yet have an account, please <a href="https://www.linkedin.com">create a Linkedin account</a> first.</p>

            <h3>Only for people associated with the Quantitative Finance program at Vienna University of Economics and Business</h3>
            <p>Please be aware that we check your association with the MSc Quantitative Finance program after sign up.
                You will be accepted as soon as your application is reviewed.</p>

            <form class="form" method="POST">
                {{ form.hidden_tag() }}

                {{ wtf.form_field(form.classof) }}
                {{ wtf.form_field(form.tandc) }}

                <button type="submit" class="btn btn-primary btn-lg color-linkedin">
                    <span class="fa-linkedin-square fa"></span> Apply to become member
                </button>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script type="text/javascript">
        $('#submit').submit(function(){
            ga('send', 'event', {
               'eventCategory': 'user',
               'eventAction':   'register'
            });
        });
    </script>
{% endblock scripts %}
