{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title -%}
    Edit profile - {{ super() }}
{%- endblock %}

{% block page_content %}
<header class="page-title">
  <div class="container">
    <div class="row">
      <h1 class="col-sm-6">
        Edit profile <br />
        <small>{{ user.name }}</small>
      </h1>
      <ol class="col-sm-6 text-right breadcrumb">
        <li><a href="{{ url_for('page.home') }}">Home</a></li>
        <li><a href="{{ url_for('members.index') }}">Members</a></li>
        <li><a href="{{ url_for('members.profile', user_id=user.id) }}">{{ user.name }}</a></li>
        <li class="active">Edit profile</li>
      </ol>
    </div>
  </div>
</header>

<section class="container">
    <div class="row section-small">
        <div class="col-md-12">
            <form class="form" method="POST">
                {{ form.hidden_tag() }}
                {{ wtf.form_field(form.classof) }}

                {{ wtf.form_field(form.submit, button_map={'submit':'primary btn-lg'}) }}
            </form>
        </div>
    </div>
</section>
{% endblock page_content %}